In [3]:
import pandas as pd
import numpy as np

In [7]:
covid_death=pd.read_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/covid_Death.csv')
covid_death.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24-02-2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25-02-2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26-02-2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27-02-2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28-02-2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
covid_vaccination=pd.read_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/covid_Vaccination.csv')
covid_vaccination.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
covid_death.describe

<bound method NDFrame.describe of        iso_code continent     location        date  population  total_cases  \
0           AFG      Asia  Afghanistan  24-02-2020  39835428.0          5.0
1           AFG      Asia  Afghanistan  25-02-2020  39835428.0          5.0
2           AFG      Asia  Afghanistan  26-02-2020  39835428.0          5.0
3           AFG      Asia  Afghanistan  27-02-2020  39835428.0          5.0
4           AFG      Asia  Afghanistan  28-02-2020  39835428.0          5.0
...         ...       ...          ...         ...         ...          ...
132639      ZWE    Africa     Zimbabwe  07-11-2021  15092171.0     133187.0
132640      ZWE    Africa     Zimbabwe  08-11-2021  15092171.0     133205.0
132641      ZWE    Africa     Zimbabwe  09-11-2021  15092171.0     133242.0
132642      ZWE    Africa     Zimbabwe  10-11-2021  15092171.0     133302.0
132643      ZWE    Africa     Zimbabwe  11-11-2021  15092171.0     133329.0

        new_cases  new_cases_smoothed  total_deaths  new_deaths  ...  \
0             5.0                 NaN           NaN         NaN  ...
1             0.0                 NaN           NaN         NaN  ...
2             0.0                 NaN           NaN         NaN  ...
3             0.0                 NaN           NaN         NaN  ...
4             0.0                 NaN           NaN         NaN  ...
...           ...                 ...           ...         ...  ...
132639       19.0              30.000        4685.0         0.0  ...
132640       18.0              28.286        4690.0         5.0  ...
132641       37.0              27.857        4691.0         1.0  ...
132642       60.0              30.143        4694.0         3.0  ...
132643       27.0              31.000        4694.0         0.0  ...

        new_deaths_smoothed_per_million  reproduction_rate  icu_patients  \
0                                   NaN                NaN           NaN
1                                   NaN                NaN           NaN
2                                   NaN                NaN           NaN
3                                   NaN                NaN           NaN
4                                   NaN                NaN           NaN
...                                 ...                ...           ...
132639                            0.066               0.75           NaN
132640                            0.104                NaN           NaN
132641                            0.076                NaN           NaN
132642                            0.095                NaN           NaN
132643                            0.085                NaN           NaN

        icu_patients_per_million  hosp_patients  hosp_patients_per_million  \
0                            NaN            NaN                        NaN
1                            NaN            NaN                        NaN
2                            NaN            NaN                        NaN
3                            NaN            NaN                        NaN
4                            NaN            NaN                        NaN
...                          ...            ...                        ...
132639                       NaN            NaN                        NaN
132640                       NaN            NaN                        NaN
132641                       NaN            NaN                        NaN
132642                       NaN            NaN                        NaN
132643                       NaN            NaN                        NaN

        weekly_icu_admissions  weekly_icu_admissions_per_million  \
0                         NaN                                NaN
1                         NaN                                NaN
2                         NaN                                NaN
3                         NaN                                NaN
4                         NaN                                NaN
...                       ...                                ...
132639                    NaN                                NaN
132640                    NaN                                NaN
132641                    NaN                                NaN
132642                    NaN                                NaN
132643                    NaN                                NaN

        weekly_hosp_admissions  weekly_hosp_admissions_per_million
0                          NaN                                 NaN
1                          NaN                                 NaN
2                          NaN                                 NaN
3                          NaN                                 NaN
4                          NaN                                 NaN
...                        ...                                 ...
132639                     NaN                                 NaN
132640                     NaN                                 NaN
132641                     NaN                                 NaN
132642                     NaN                                 NaN
132643                     NaN                                 NaN

[132644 rows x 26 columns]>

In [9]:
covid_death.fillna("NULL",inplace=True)
covid_death

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24-02-2020,39835428.0,5.0,5.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
1,AFG,Asia,Afghanistan,25-02-2020,39835428.0,5.0,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2,AFG,Asia,Afghanistan,26-02-2020,39835428.0,5.0,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3,AFG,Asia,Afghanistan,27-02-2020,39835428.0,5.0,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
4,AFG,Asia,Afghanistan,28-02-2020,39835428.0,5.0,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,Africa,Zimbabwe,07-11-2021,15092171.0,133187.0,19.0,30.0,4685.0,0.0,...,0.066,0.75,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
132640,ZWE,Africa,Zimbabwe,08-11-2021,15092171.0,133205.0,18.0,28.286,4690.0,5.0,...,0.104,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
132641,ZWE,Africa,Zimbabwe,09-11-2021,15092171.0,133242.0,37.0,27.857,4691.0,1.0,...,0.076,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
132642,ZWE,Africa,Zimbabwe,10-11-2021,15092171.0,133302.0,60.0,30.143,4694.0,3.0,...,0.095,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
132643,ZWE,Africa,Zimbabwe,11-11-2021,15092171.0,133329.0,27.0,31.0,4694.0,0.0,...,0.085,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL

In [14]:
covid_death.to_excel('covid_death_updated.xlsx')

In [15]:
pwd()

'C:\\Users\\Jay Patel'

In [21]:
import os
os.chdir('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads')

In [22]:
covid_death.to_excel('covid_death_updated.xlsx')

In [ ]:
covid_death.to

In [23]:
pwd()

'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads'

In [24]:
covid_vaccination.fillna("NULL",inplace=True)
covid_vaccination

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24-02-2020,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,37.746,0.5,64.83,0.511,NULL,NULL,NULL,NULL
1,AFG,Asia,Afghanistan,25-02-2020,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,37.746,0.5,64.83,0.511,NULL,NULL,NULL,NULL
2,AFG,Asia,Afghanistan,26-02-2020,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,37.746,0.5,64.83,0.511,NULL,NULL,NULL,NULL
3,AFG,Asia,Afghanistan,27-02-2020,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,37.746,0.5,64.83,0.511,NULL,NULL,NULL,NULL
4,AFG,Asia,Afghanistan,28-02-2020,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,37.746,0.5,64.83,0.511,NULL,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,Africa,Zimbabwe,07-11-2021,1159.0,1393065.0,92.304,0.077,2879.0,0.191,...,1.6,30.7,36.791,1.7,61.49,0.571,NULL,NULL,NULL,NULL
132640,ZWE,Africa,Zimbabwe,08-11-2021,NULL,NULL,NULL,NULL,NULL,NULL,...,1.6,30.7,36.791,1.7,61.49,0.571,NULL,NULL,NULL,NULL
132641,ZWE,Africa,Zimbabwe,09-11-2021,NULL,NULL,NULL,NULL,NULL,NULL,...,1.6,30.7,36.791,1.7,61.49,0.571,NULL,NULL,NULL,NULL
132642,ZWE,Africa,Zimbabwe,10-11-2021,NULL,NULL,NULL,NULL,NULL,NULL,...,1.6,30.7,36.791,1.7,61.49,0.571,NULL,NULL,NULL,NULL
132643,ZWE,Africa,Zimbabwe,11-11-2021,NULL,NULL,NULL,NULL,NULL,NULL,...,1.6,30.7,36.791,1.7,61.49,0.571,NULL,NULL,NULL,NULL

In [25]:
covid_vaccination.to_excel('covid_vaccination_updated.xlsx')

In [26]:
covid_vaccination.to_csv('covid_vaccination_updated.csv')

In [27]:
covid_death.to_csv('covid_death_updated.csv')